#ignore Eclipse metadata folder
robots/.metadata/
robots/.recommenders/

#non-essential project files for PortScanner
robots/PortScanner/bin/
robots/Portscanner/.settings/
robots/PortScanner/.classpath
robots/PortScanner/.project