#ignore Eclipse metadata folder
robots/.metadata/
robots/.recommenders/

#non-essential project files for Eclipse (PortScanner + WKUSpider)
robots/*/bin/
robots/*/.settings/
robots/*/.classpath
robots/*/.project