html {
	height: 100%;
}
body {
	background-color: #777;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#wrapper {
	background-color: #FFF;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 4px #000;
}

#logo {
	position: relative;
	top: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: auto;
}

#form-main {
	position: relative;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}
#form-results {
	padding-left: 10px;
	padding-top: 10px;
	float: left;
	box-sizing: border-box;
	width: 50%;
}
input {
	padding: 5px;
	width: 55px;
}
#input-query {
	width: calc(100% - 60px);
	box-sizing: border-box;
}

#results-list {
	padding: 10px;
}

#results-top-bar {
	width: 100%;
	overflow: auto;
}
#home-button div {
	font: 13.3333px Arial;
	float: right;
	padding: 7px;
	border-radius: 1px;
	background-color: #D04242;
	margin-top: 10px;
	margin-right: 5px;
}
#home-button,
#home-button:visited,
#home-button:active {
	color: black;
}